Flask==2.0.2
flask_cors
pymongo
dnspython
pandas
spacy
https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.2.0/de_core_news_md-3.2.0.tar.gz#egg=de_core_news_md
python-dotenv
xlsxwriter
pandas
markupsafe
pyspellchecker
