{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Willkommen bei KIbarDok {% endblock %}</h1>
    <p></p>

    <p>Wählen Sie einen Bezirk aus: (Aktualisieren Sie den Browser) </p>

    Bezirke: 
    <a href="{{ url_for('selectmetadata') + "?collection=metadata"}}" target="_blank">Treptow</a>
    <a href="{{ url_for('selectmetadata') + "?collection=koepenick"}}" target="_blank">Köpenick</a>
    <a href="{{ url_for('selectmetadata') + "?collection=pankow"}}" target="_blank">Pankow</a>
    
    <p></p>
  

{% endblock %}
