{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{title}} {% endblock %}</h2>
 
    <p></p>
    <a href="{{ url_for(excel)}}" target="_blank">Excel</a>

    <table class="table">
        <thead>
        </thead>
        <tbody>
            {% for mo in listdict %}
            <tr>
                <td>{{mo}}</td>
                <td>
                    {% for w in listdict[mo] %}
                        <span>{{ w }} </span>
                    {% endfor %}
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}