{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ res['file'] }} {% endblock %}</h2>
    <p></p>
    <p><a href="{{ url_for("editdocument", docid = res['docid'])}}" target="_blank">           
        <span class="badge badge-warning">Kommentar</span>
    </a>{{res["comment"]}}</p>
   <p>{{res["dir"]}}</p>
    <p>{{res["vorgang"]}}</p>
        {% for w in res['vorhaben'] %}
            <span>{{ w }} </span>
        {% endfor %}
    </p>
    <label for="monuments">Denkmal:</label>
    <table id='monuments' class="table">
        <thead>
        </thead>
        <tbody>
            {% for kw in res['hida'] %}
            <tr>
                <td><a href="{{ url_for('showhida', id=kw)}}">{{kw}}</a></td>
                <td>{{res['hida'][kw]['Denkmalart']}}</td>
                <td>
                    {% for w in res['hida'][kw]['Denkmalname'] %}
                            <span>{{ w }} </span>
                    {% endfor %}
                </td>
              <td>
                    {% for w in res['hida'][kw]['Sachbegriff'] %}
                            <span>{{ w }} </span>
                    {% endfor %}
                </td>

                <td>{{res['hida'][kw]['Listentext']}}</td>
            </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
      <label for="keywords">Keywords:</label>
    <table id='keywords' class="table">
        <thead>
        </thead>
        <tbody>
            {% for kw in res['keywords'] %}
            <tr>
                <td>{{kw}}</td>
                <td>
                    {% for w in res['keywords'][kw] %}
                        <span>{{ w }} </span>
                    {% endfor %}
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
     <table id='intents' class="table">
        <thead>
        </thead>
         <tbody>
            {% for intent in paragraphs %}
            <tr>
                 <td>{{intent['html'] | safe}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
   <p></p>
    <p></p>
{% endblock %}