{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{title}} {% endblock %}</h2>
 
    <p></p>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            {% for mo in list %}
            <tr>
                <td><a href="{{ url_for(table, id=mo['_id'])}}" target="_blank">           
                    <span class="badge badge-warning">Bearbeiten</span>
                </a></td>
               <td>{{mo["type"]}}</td>
               <td>{{mo["paragraph"]}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}