{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Bearbeiten {{ table }}{% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="paragraph">Content</label>
        <textarea name="paragraph" placeholder="Content"
                  class="form-control">{{ request.form['paragraph'] or item['paragraph'] }}</textarea>
        <label for="exampleFormControlFile2">Typ:</label>
        <paragraph></paragraph>
        <select name="type">
            {% for typ in types %}
                <option value="{{typ['name']}}" {% if typ['name'] == item['type'] %} selected {% endif %}>{{typ['name']}}</option>
            {% endfor %}     
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>
<hr>

<form action="{{ url_for(delete_item, id=item['_id']) }}" method="POST">
    <input type="submit" value="Löschen"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Sind Sie sicher, daß Sie diesen Eintrag löschen möchten?')">
</form>
{% endblock %}