{% extends 'base.html' %}

{% block content %}
 <h1>{% block title %} KIBarDok Qualitätssicherung{% endblock %}</h1>

<form method="post">
    <div class="form-group">
           <label>Dokument {{ docid }}: <a href="{{pdfurl}}" target="_blank">{{ file }}</a></label>
    </div>    
    <div class="form-group">
         <label>
            <input type="radio" name="qsrelation" id="denkmal" value="Denkmalschutz" {{ qsmonumentchecked }}>
            <label> Denkmalschutz </label>
        </label>
        <label>
            <input type="radio" name="qsrelation" id="umgebung" value="Umgebungsschutz" {{ qsdistancechecked }}>
            <label> Umgebungsschutz </label>
        </label>
    </div>    
    <div class="form-group">
        <label for="qsdoctype">Dokumenttyp ist falsch zugeordnet. Es handelt sich um eine </label>
        <select name="qsdoctype" class="form-control" value={{ qsdoctype }}>
            <option value='Kein Dokumenttyp gefunden' {{ "selected='selected'" if request.form['qsdoctype'] == 'Kein Dokumenttyp gefunden' or qsdoctype == 'Kein Dokumenttyp gefunden' else "" }}>Kein Dokumenttyp gefunden</option>
            <option value='Anfrage' {{ "selected='selected'" if request.form['qsdoctype'] == 'Anfrage' or qsdoctype == 'Anfrage' else "" }}>Anfrage</option>
            <option value='Anhörung' {{ "selected='selected'" if request.form['qsdoctype'] == 'Anhörung' or qsdoctype == 'Anhörung' else "" }}>Anhörung</option>
            <option value='Antrag' {{ "selected='selected'" if request.form['qsdoctype'] == 'Antrag' or qsdoctype == 'Antrag' else "" }}>Antrag</option>
            <option value='Bauverfahren' {{ "selected='selected'" if request.form['qsdoctype'] == 'Bauverfahren' or qsdoctype == 'Bauverfahren' else "" }}>Bauverfahren</option>
            <option value='Genehmigung' {{ "selected='selected'" if request.form['qsdoctype'] == 'Genehmigung' or qsdoctype == 'Genehmigung' else "" }}>Genehmigung</option>
            <option value='Gutachten' {{ "selected='selected'" if request.form['qsdoctype'] == 'Gutachten' or qsdoctype == 'Gutachten' else "" }}>Gutachten</option>
            <option value='Eingang' {{ "selected='selected'" if request.form['qsdoctype'] == 'Eingang' or qsdoctype == 'Eingang' else "" }}>Eingang</option>
            <option value='Kein Denkmal' {{ "selected='selected'" if request.form['qsdoctype'] == 'Kein Denkmal' or qsdoctype == 'Kein Denkmal' else "" }}>Kein Denkmal</option>
            <option value='Nachforderung' {{ "selected='selected'" if request.form['qsdoctype'] == 'Nachforderung' or qsdoctype == 'Nachforderung' else "" }}>Nachforderung</option>
            <option value='Stellungnahme' {{ "selected='selected'" if request.form['qsdoctype'] == 'Stellungnahme' or qsdoctype == 'Stellungnahme' else "" }}>Stellungnahme</option>
            <option value='Versagung' {{ "selected='selected'" if request.form['qsdoctype'] == 'Versagung' or qsdoctype == 'Versagung' else "" }}>Versagung</option>
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" id="qsobjnrInvalid" name="qsobjnrInvalid" {% if qsobjnrInvalid %}checked{% endif %}>
        <label for="qsobjnrInvalid">Falsches oder kein Denkmalobjekt</label>       
    </div>
    <div class="form-group">
        <label for="qsobjnummer">Richtige Denkmalobjektnummer</label>
        <textarea rows=1 name="qsobjnummer" placeholder="Denkmalobjektnummer"
                  class="form-control">{{ request.form['qsobjnummer'] or qsobjnummer }}</textarea>
    </div>
    <div class="form-group">
        <label for="qsvorhaben">Vorhaben</label>
        <textarea rows=1 name="qsvorhaben" placeholder="Bezeichnung des Bauvorhabens"
                  class="form-control">{{ request.form['qsvorhaben'] or qsvorhaben }}</textarea>
    </div>
    <div class="form-group">
        <label for="qscomment">Kommentar</label>
        <textarea rows=5 name="qscomment" placeholder="Platz für Anmerkungen"
                  class="form-control">{{ request.form['qscomment'] or qscomment }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>
{% endblock %}
