{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{title}} {% endblock %}</h2>
 
    <p></p>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            {% for mo in documents %}
            <tr>
                  <td><a href="{{ url_for('showkeywords', docid=mo['docid'])}}">           
                    <span class="badge badge-warning">Details</span>
                  </a>
                  <a href="{{ url_for('showdocument',docid=mo['docid'])}}">           
                        <span class="badge bg-success">Dokument</span></a>
                   </td>
                  <td>{{mo['file']}} {{mo['dir']}}</td>
                  <td>
                    {% for w in mo['keywords'] %}
                        <span class="badge bg-success">{{ w }}: </span>
                        {% for ww in mo['keywords'][w] %}
                                <span>{{ ww }} </span>
                            {% endfor %}
                    {% endfor %}
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}