{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ res['file'] }} {% endblock %}</h2>
    <label for="places">Ort:</label>
    <div id="places">
    {% for place in res['place'] %}
        <span>{{ place }} </span>
    {% endfor %}
    </div>
    <p></p>
    <label for="keywords">Schlagworte:</label>
    <table id='keywords' class="table">
        <thead>
        </thead>
        <tbody>
            {% for kw in res['keywords'] %}
            <tr>
                <td>{{kw}}</td>
                <td>
                    {% for w in res['keywords'][kw] %}
                        <span>{{ w }} </span>
                    {% endfor %}
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
    <p></p>
    <p></p>
    <label for="intents">Absätze:</label>
    <table id='intents' class="table">
        <thead>
        </thead>
        <tbody>
            {% for intent in paragraphs %}
            <tr>
                <td>
                    {% for w in intent['words'] %}
                        <span>{{ w }} </span>
                    {% endfor %}
                </td>
                <td>{{intent['html'] | safe}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}